
  <div class="row">
    <div class="col s4 offset-s4">
      <div class="card ">
        <div class="card-image">
          <img src="IMG/welcome.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Este es un espacio para implementar los laboratorios de la materia de Desarrollo de Aplicaciones Web</p>
        </div>
     
      </div>
    </div>
  </div>