 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


 <script src="/js/jquery-3.6.0.min.js"></script>

  <!-- Funciones -->
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
      });
    
    </script>


  </body>

<footer class="page-footer  #9575cd deep-purple lighten-2">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Emmanuel B. Palacios</h5>
        <p class="grey-text text-lighten-4">A01705220</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/EmBP19/A01705220_DAW">Repositorio personal</a></li>
          <li><a class="grey-text text-lighten-3" href="/login">Log in</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>



</footer>
</html>