<div class = "row">
    <div class="col s4 offset-s4">
        <div class="card #546e7a blue-grey darken-1 z-depth-5">
          <div class="card-content white-text">
         
<h2 class="center">Usuario no registrado</h2>
<div class="container center">
<p class="center">Inicia sesion </p>
<a class="waves-effect #37474f blue-grey darken-3 btn wideBtn" href="/login/Validar">Ingresar</a>

</div>
<div class="row"></div>
<div class="container center">
<div class="offset-l2">
<p>Obtener Cuenta</p>
<a class="waves-effect #37474f blue-grey darken-3 btn wideBtn" href="/login/Registrar">Registrar</a>
</div>
</div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>